<form (ngSubmit)=" onSubmit(enteredTitle.value)" #form>
<app-control [inputData]="{for: 'title', title: 'Title'} " >
  <input #enteredTitle name="title" id="title" type="text" placeholder="Ingresa la solicitud" >
</app-control>

<app-control  [inputData]="{for: 'request', title:'request'}"> 
  
        <textarea [(ngModel)]="enteredRequest" name="request" id="request" type="text" rows="3" placeholder="Describe la solicitud"> </textarea>

</app-control>
  
  <p>
    <button type="submit" appButton>
      Submit

      <span ngProjectAs="icon" > ⌲ </span>
    </button>
  </p>
</form>
